version: '3'
name: pm
services:
  fkf:
    image: hawkinswinja/pm:${TAG}
    environment:
    - DEBUG=${DEBUG}
    - ALLOWED_HOSTS=${ALLOWED_HOSTS}
    - SECRET_KEY=${SECRET_KEY}
    - DJANGO_SUPERUSER_PASSWORD=${FKF_PASSWORD}
    volumes:
    - media:/app/media
    - static:/app/staticfiles
    expose:
    - 8000
      
  nginx:
    image: nginx:stable-alpine3.17-slim
    volumes:
    - ./fkf.conf:/etc/nginx/conf.d/default.conf
    - media:/media
    - static:/static
    ports:
    -  8080:80
    depends_on:
      fkf:
        condition: service_started
volumes:
  media:
  static:
