{% extends "base.html" %}
{% block header1 %}FKF Academy{% endblock %}
{% block content %}
<section class="counties">
    <h2> Karibu {{ academy }}</h2>
    <h4>Player&emsp;&emsp;pid</h4>
        <hr>
    <ul>
    {% for player in players %}
        <li>
            {% if player.picture %}
            <img src="{{ player.picture.url }}" alt="{{ player.name }} Image" width="50", height="50">
            &emsp;
            {% else %}
            <img alt="player's image"> &ensp;
            {% endif %}
            {{ player.pid }}
            <br>
            Name: {{ player.name }}
        </li>
    {% endfor %}
    </ul>
    <br>
</section>
<section class="candidates">
    <fieldset>
        <legend>Register Player</legend>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Player</button>
            {% if form.errors %}
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
            {% endif %}
        </form>
    </fieldset>
    <fieldset>
        <legend>Terminate Player Contract</legend>
        <form>
            <Label for name="pid">Player ID</Label>
            <input type="text" name="pid" placeholder="Enter player id">
            <br>
            <button type="submit">Delete</button>
        </form>
    </fieldset>
</section>
{% endblock %}