{% extends "base.html" %}
{% block morecss %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
{% endblock %}
{% block content %}
        <header></header>
        <section>
            <div class="login">
                <h3>Sign In</h3>
                <form method="post" action='/login'>
                    <!-- <br>
                    <h4>User ID</h4>
                    <input type="text" name="user-id">
                    <h4>Password</h4>
                    <input type="password" name="password">
                    <br> -->
                    {{ form.as_p }}
                    <button type="submit">Log in</button>
                  </form>
            </div>
        </section>
{% endblock %}
