/* Reset some default styles */
body,
h1,
h2,
h3,
h4,
ul,
p {
    margin: 0;
    padding: 0;
}

/* Set a background color and font for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Style the header section */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.header-right h1 {
    font-size: 24px;
    margin: 0;
}

.menu-icon {
    display: none;
    /* Hide the menu icon by default for desktop view */
    cursor: pointer;
    font-size: 24px;
}

.header-left {
    display: flex;
    align-items: center;
    position: relative;
    /* Add relative positioning */
}


.exit {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

/* Style the main content section */
.counties, .candidates {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


/* Style the Election Positions list */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    border: 1px solid #ccc;
    padding-top: 10px;
    padding-inline-start: 10px;
    height: 600px;
    max-height: 800px;
    /* Set a maximum height for overflow scrolling */
    overflow-y: auto;
    /* Enable vertical scrolling for overflow content */
}

li {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Style the Add New Position and Delete Post forms */
fieldset {
    /* border: 1px solid #ccc; */
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

legend {
    font-weight: bold;
}

/* Center the input fields */
input {
    width: 80%;
    padding: 5px;
    margin: 0 auto;
    /* Center the input fields horizontally */
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 5px;
}


/* #search {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
} */

/* Responsive design for mobile view */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
        /* Show the menu icon for mobile view */
    }

    .header-left {
        flex-direction: column;
        align-items: center;
        display: none;
        /* Center items vertically */
    }

    .exit {
        margin-top: 10px;
    }

    /* Pop-up context for mobile view */
    .menu-icon:hover .header-left {
        display: block;
        position: absolute;
        width: 80%;
        height: 60px;
        top: 40px;
        right: 0;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
        z-index: 2;
    }
}

@media screen and (min-width: 768px) {

    /* Divide the content into two columns */
    .counties {
        width: 50%;
        /* Half the width for Posts section */
        float: left;
        /* Float the Posts section to the left */
    }

    .candidates {
        width: 40%;
        /* Half the width for Candidates section */
        float: right;
        /* Float the Candidates section to the left */
    }
}