body {
    margin: 0;
}

.login {
    width: 100%;
    height: 70%;
    background-color: whitesmoke;
    border: 2px solid #333;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    width: 400px;
    height: 80vh;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;  
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h3 {
    margin-top: 30px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
}
h4 {
    margin-bottom: 0%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button {
    padding: 5%;
    height: fit-content;
    background-color: #333;
    color: white;
    border-radius: 4px;
    border: 0;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    margin-top: 15px;
}
input {
    border: 1px solid whitesmoke;
    border-radius: 4px;
    height: 20px;
}
