name: get job status
on:
  pull_request:
jobs:
  comment:
    runs-on: ubuntu-latest 
    steps:
    - name: Add Comment
      uses: mshick/add-pr-comment@v2.8.1
      with:
        message: "Your job status is ${{job.status}}"
        repo-token: ${{secrets.GITHUB_TOKEN}}
