name: comment_job_status
on:
  pull_request:
  push:
jobs:
  comment_pr:
    runs-on: ubuntu-latest 
    steps:
    - uses: NejcZdovc/comment-pr@v2
      with:
        message: "Your job status is ${{job.status}}"
        github_token: ${{secrets.GITHUB_TOKEN}}
